/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v29/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYA.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
body {
  width: 75%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  body {
    width: 90%;
  }
}
h1 {
  font-size: 5rem;
  font-family: 'Oswald', sans-serif;
}
h2 {
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
}
p {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.25;
}
li {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}
.logo-cont {
  display: none;
}
header {
  width: 100%;
  margin: 3vh 0;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  header .logo-cont {
    display: flex;
    justify-content: flex-start;
    width: 50%;
  }
}
header .logo-cont img {
  width: 100%;
}
header nav {
  display: flex;
  justify-content: center;
  justify-content: flex-end;
  width: 100%;
}
@media (max-width: 500px) {
  header nav {
    flex-flow: column;
    align-items: flex-end;
    width: 50%;
  }
}
header nav a {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  margin: 0 2%;
  font-size: 2rem;
  color: black;
}
@media (max-width: 500px) {
  header nav a {
    margin: 2vh 0;
    font-size: 2.25rem;
  }
}
.intro {
  background: #cecece;
  padding: 3% 2%;
}
.intro .intro-img-cont {
  width: 30%;
  margin-bottom: 2vh;
}
@media (max-width: 500px) {
  .intro .intro-img-cont {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .intro .intro-title {
    width: 100%;
    text-align: center;
  }
}
.intro .intro-title h1 {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 2vh;
}
.intro .intro-title h2 {
  font-family: 'Oswald', sans-serif;
}
.intro .line-break {
  height: 1px;
  background: black;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background: #a0a0a0;
}
@media (max-width: 500px) {
  .intro .intro-desc {
    width: 100%;
    text-align: center;
  }
}
.intro .intro-desc p {
  font-family: 'Open Sans', sans-serif;
}
.intro .intro-btn {
  margin: 3vh 0;
}
@media (max-width: 500px) {
  .intro .intro-btn {
    width: 100%;
    text-align: center;
  }
}
.intro .intro-btn a {
  font-size: 2rem;
  text-decoration: none;
  border-radius: 2px;
  padding: 0.5% 1%;
  background: #6d6965;
  color: white;
  font-family: 'Oswald', sans-serif;
}
.info {
  margin: 5vh 0;
}
.info .personal {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .info .personal {
    flex-flow: column;
  }
}
.info .personal .listen {
  width: 45%;
}
@media (max-width: 500px) {
  .info .personal .listen {
    width: 100%;
  }
}
.info .personal .listen h2 {
  margin-bottom: 2vh;
}
.info .good-stuff {
  width: 45%;
}
@media (max-width: 500px) {
  .info .good-stuff {
    width: 100%;
    margin-top: 3vh;
  }
}
.info .good-stuff h2 {
  margin-bottom: 2vh;
}
.info .good-stuff ul li {
  padding: 2%;
  border: 1px solid gray;
}
.info .good-stuff ul #special-li {
  font-size: 0.9rem;
}
.history {
  margin-top: 5vh;
}
.history .chart table {
  border: 1px solid gray;
  border-collapse: collapse;
  width: 100%;
}
.history .chart table tr td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}
.history .chart table tr th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1%;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}
.history .chart table tr strong {
  font-weight: 800;
}
.history .chart table tr:nth-child(even) {
  background: #cecece;
}
footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-flow: column-reverse;
  background: #6d6965;
}
footer p {
  padding: 2%;
  color: white;
  font-family: 'Oswald', sans-serif;
}
footer span {
  font-size: 1.5rem;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 1%;
  margin: 1vh 0;
}
